<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ute.webservice.voiceagent">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AIApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_login_activity"
            android:theme="@style/My_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AIButtonActivity"
            android:label="@string/title_activity_aibutton_sample"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/My_theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ute.webservice.voiceagent.LoginActivity" />
        </activity>
        <activity
            android:name=".AISettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/My_theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ute.webservice.voiceagent.LoginActivity" />
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_welcome_activity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/My_theme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ute.webservice.voiceagent.LoginActivity" />
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_welcome_activity"
            android:theme="@style/My_theme" />
        <activity
            android:name=".AIListActivity"
            android:label="Voice Agent"
            android:theme="@style/My_theme" />
        <activity
            android:name=".SurgeryActivity"
            android:label="@string/title_activity_surgery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SurgeryCodesActivity"
            android:label="@string/title_activity_surgery_codes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>